<div class="printMe" style="padding: 20px 20px">
  <div *ngIf='asset'>
    <qr-code [value]="asset.code" [size]="300"></qr-code>
    <p>Id: {{asset.id}}</p>
    <p>CODE: {{asset.code}}</p>
    <p>Type: {{asset.assetLine.assetType.name}}</p>
    <p>Manufacturer: {{asset.assetLine.manufacturer.name}}</p>
    <p>Line: {{asset.assetLine.name}}</p>
    <p>Name: {{asset.assetLine.assetType.name}} {{asset.assetLine.manufacturer.name}} {{asset.assetLine.name}}</p>
  </div>
</div>

<button (click)="onPrint()">Print asset</button>