<!-- <div class="printMe" style="padding: 20px 20px">
  <div *ngIf='asset'>
    <qr-code [value]="asset.code" [size]="300"></qr-code>
    <p>Id: {{asset.id}}</p>
    <p>CODE: {{asset.code}}</p>
    <p>Type: {{asset.assetLine.assetType.name}}</p>
    <p>Manufacturer: {{asset.assetLine.manufacturer.name}}</p>
    <p>Line: {{asset.assetLine.name}}</p>
    <p>Name: {{asset.assetLine.assetType.name}} {{asset.assetLine.manufacturer.name}} {{asset.assetLine.name}}</p>
  </div>
</div>

<button (click)="onPrint()">Print asset</button> -->


<div bsModal #viewModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="viewModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("ViewAsset")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class='row'>
                    <!--#region QR CODE  -->
                    <div class='col-6'>
                        <div class="form-group">
                            <qr-code [value]="asset.code" [size]="300"></qr-code>
                        </div>
                    </div>

                    <!--#endregion -->
                    <!--#region INFORMATION  -->
                    <div class='col-6'>
                        <div class="form-group">
                            <label>Id</label>
                            <p>{{asset.id}}</p>
                        </div>
                        <div class="form-group">
                            <label>CODE</label>
                            <p>{{asset.code}}</p>
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <p>{{asset.assetLine.assetType.name}} {{asset.assetLine.manufacturer.name}}
                                {{asset.assetLine.name}}</p>
                        </div>
                        <div class="form-group">
                            <label>Type</label>
                            <p>{{asset.assetLine.assetType.name}}</p>
                        </div>
                        <div class="form-group">
                            <label>Manufacturer</label>
                            <p>{{asset.assetLine.manufacturer.name}}</p>
                        </div>
                        <div class="form-group">
                            <label>Line</label>
                            <p>{{asset.assetLine.name}}</p>
                        </div>
                        <div class="form-group">
                            <label>Is damaged</label>
                            <p>{{asset.isDamaged? "Yes":"No"}}</p>
                        </div>
                    </div>
          <!--#endregion -->
                </div>
            </div>
              <div class="modal-footer">
                  <button [disabled]="saving" type="button" class="btn btn-default"
                      (click)="close()">{{l("Cancel")}}</button>
                                <button type="submit" class="btn btn-primary" [buttonBusy]="saving"
                                    [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                                    <span>{{l("Save")}}</span></button>
                        </div>


                    </div>

                </div>
            </div>