<div bsModal #viewModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="viewModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("ViewAssetLine")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class='row'>
                    <!--#region INFORMATION  -->
                    <div class='col-6'>
                        <div class="form-group">
                            <label>Id</label>
                            <p>{{assetLine.id}}</p>
                        </div>
                        <div class="form-group">
                            <label>CODE</label>
                            <p>{{assetLine.code}}</p>
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <p>{{assetLine.assetType.name}} {{assetLine.manufacturer.name}}
                                {{assetLine.name}}</p>
                        </div>
                        <div class="form-group">
                            <label>Type</label>
                            <p>{{assetLine.assetType.name}}</p>
                        </div>
                        <div class="form-group">
                            <label>Manufacturer</label>
                            <p>{{assetLine.manufacturer.name}}</p>
                        </div>
                    </div>
          <!--#endregion -->
                </div>
            </div>
              <div class="modal-footer">
                  <button [disabled]="saving" type="button" class="btn btn-default"
                      (click)="close()">{{l("Cancel")}}</button>
                                <button type="submit" class="btn btn-primary" [buttonBusy]="saving"
                                    [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                                    <span>{{l("Save")}}</span></button>
                        </div>


                    </div>

                </div>
            </div>