<div [@routerTransition]>

    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-xs-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("BidCreate")}}</span>
                </h3>
                <span class="m-section__sub">
                    {{l("BidCreateInfo")}}
                </span>
            </div>
        </div>
    </div>

    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <form autocomplete="off" (ngSubmit)="searchBidCreate()">
                    <div class="m-form m-form--label-align-right" id="TextsFilterForm">
                        <!-- filter -->
                        <div class="row m--margin-bottom-10">
                            <div class="col-sm-6">
                                <div class="row align-items-center m-b-5">
                                    <div class="col-4 col-sm-4">
                                        <span class="float-right">BidProfile Code: *</span>
                                    </div>
                                    <div class="col-8 col-sm-8 col-lg-8">
                                        <input type="text" name="bidCreate code" [(ngModel)]="bidProfileCode"
                                            [placeholder]="'BidProfile Code'" class="form-control">
                                    </div>
                                </div>
                                <div class="row align-items-center m-b-5">
                                    <div class="col-4 col-sm-4">
                                        <span class="float-right">BidProfile Name: *</span>
                                    </div>
                                    <div class="col-8 col-sm-8 col-lg-8">
                                        <input type="text" name="bidCreateName" [(ngModel)]="bidCreateName"
                                            [placeholder]="'BidProfile Name'" class="form-control">
                                    </div>
                                </div>

                                <div class="row align-items-center m-b-5">
                                    <div class="col-4 col-sm-4">
                                        <span class="float-right">Bid Type: *</span>
                                    </div>
                                    <div class="col-8 col-sm-8 col-lg-8">
                                        <select name="bidType" class="form-control" [(ngModel)]="bidType"
                                            [attr.data-live-search]="false" jq-plugin="selectpicker" required>
                                            <option *ngFor="let item of bidTypes" [value]="item.id">
                                                {{item.name}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row align-items-center m-b-5">
                                    <div class="col-4 col-sm-4">
                                        <span class="float-right">Bid Catalog: *</span>
                                    </div>
                                    <div class="col-8 col-sm-8 col-lg-8">
                                        <select name="bidCatalog" class="form-control" [(ngModel)]="bidCatalogProductId"
                                            [attr.data-live-search]="true" jq-plugin="selectpicker" required>
                                            <option *ngFor="let item of productInfos" [value]="item.value">{{item.label}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="row align-items-center m-b-5">
                                    <div class="col-4 col-sm-4">
                                        <span class="float-right">Project: (Nullable)</span>
                                    </div>
                                    <div class="col-8 col-sm-8 col-lg-8">
                                        <select name="project" class="form-control" [(ngModel)]="bidProjectId"
                                            [attr.data-live-search]="true" jq-plugin="selectpicker" required>
                                            <option value=""></option>
                                            <option *ngFor="let item of projectInfos" [value]="item.value">{{item.label}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row align-items-center m-b-5">
                                    <div class="col-4 col-sm-4">
                                        <span class="float-right">Caution Money: *</span>
                                    </div>
                                    <div class="col-8 col-sm-8 col-lg-8">
                                        <input type="number" name="cautionMoney" [(ngModel)]="cautionMoney" min="0"
                                            [placeholder]="'Caution Money'" class="form-control">
                                    </div>
                                </div>

                                <div class="row align-items-center m-b-5">
                                    <div class="col-4 col-sm-4">
                                        <span class="float-right">Comments</span>
                                    </div>
                                    <div class="col-8 col-sm-8 col-lg-8">
                                        <input type="text" name="note" [(ngModel)]="note"
                                            [placeholder]="'Comments'" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row align-items-center m-b-5">
                                    <div class="col-4 col-sm-4">
                                        <span class="float-right">Open Date: *</span>
                                    </div>
                                    <div class="col-8 col-sm-8 col-lg-8">
                                        <my-date-picker class="flex" name="openDate" [placeholder]="'  Select A Open Date'"
                                            [options]="datePickerOptions" (dateChanged)="onDateChangedByOpen($event)">
                                        </my-date-picker>
                                    </div>
                                </div>
                                <div class="row align-items-center m-b-5">
                                    <div class="col-4 col-sm-4">
                                        <span class="float-right">Start Received Date: *</span>
                                    </div>
                                    <div class="col-8 col-sm-8 col-lg-8">
                                        <my-date-picker class="flex" name="startDate" [placeholder]="'  Select A Start Received Date'"
                                            [options]="datePickerOptions" (dateChanged)="onDateChangedByStart($event)">
                                        </my-date-picker>
                                    </div>
                                </div>
                                <div class="row align-items-center m-b-5">
                                    <div class="col-4 col-sm-4">
                                        <span class="float-right">End Received Date: *</span>
                                    </div>
                                    <div class="col-8 col-sm-8 col-lg-8">
                                        <my-date-picker class="flex" name="endDate" [placeholder]="'  Select A End Received Date'"
                                            [options]="datePickerOptions" (dateChanged)="onDateChangedByEnd($event)">
                                        </my-date-picker>
                                    </div>
                                </div>

          
                                <div class="row align-items-center m-b-5">
                                    <div class="col-4 col-sm-4">
                                        <span class="float-right">Attachments</span>
                                    </div>
                                    <div class="col-8 col-sm-8 col-lg-8">
                                        <input type="file" id="myFile">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- search -->
                        <hr>
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-sm-12">
                                <button class="btn btn-primary" [disabled]="!bidProfileCode || bidProfileCode === ''" (click)="OpenAddSupplier()"><i class="icon-refresh"></i>
                                    {{l("Add Contractor +")}}</button>
                            </div>
                        </div>

                        <div *ngIf="isAdd" class="row m--margin-bottom-10">
                            <div class="col-sm-6">
                                <div class="row align-items-center m-b-5">
                                    <div class="col-4 col-sm-4">
                                        <span class="float-right">Supplier: *</span>
                                    </div>
                                    <div class="col-8 col-sm-8 col-lg-8">
                                        <select name="supplier" class="form-control" [(ngModel)]="newSupplierCode"
                                            [attr.data-live-search]="true" jq-plugin="selectpicker" required>
                                            <option *ngFor="let item of supplierInfos" [value]="item.value">{{item.label}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row align-items-center m-b-5">
                                    <div class="col-4 col-sm-4">
                                        <span class="float-right">Proof Number: *</span>
                                    </div>
                                    <div class="col-8 col-sm-8 col-lg-8">
                                        <input type="number" name="newproofNum" [(ngModel)]="newProofNum" min="0"
                                            [placeholder]="'Proof Number'" class="form-control">
                                    </div>
                                </div>
                                <div class="row align-items-center m-b-5">
                                    <div class="col-4 col-sm-4">
                                        <span class="float-right">Begin Cost: *</span>
                                    </div>
                                    <div class="col-8 col-sm-8 col-lg-8">
                                        <input type="number" name="newbeginCost" [(ngModel)]="newBeginCost" min="0"
                                            [placeholder]="'Begin Cost'" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="row align-items-center m-b-5">
                                    <div class="col-4 col-sm-4">
                                        <span class="float-right">Submit Date: *</span>
                                    </div>
                                    <div class="col-8 col-sm-8 col-lg-8">
                                        <my-date-picker class="flex" name="submitDate" [placeholder]="'  Select A Submit Date'"
                                            [options]="datePickerOptions" (dateChanged)="onDateChangedBySupplierSubmit($event)">
                                        </my-date-picker>
                                    </div>
                                </div>
                                <div class="row align-items-center m-b-5">
                                    <div class="col-4 col-sm-4">
                                        <span class="float-right">Bank: *</span>
                                    </div>
                                    <div class="col-8 col-sm-8 col-lg-8">
                                        <input type="text" name="newBank" [(ngModel)]="newBank"
                                            [placeholder]="'New Bank'" class="form-control">
                                    </div>
                                </div>
                                <div class="row align-items-center m-b-5">
                                    <div class="col-4 col-sm-4">
                                        <span class="float-right">Notes</span>
                                    </div>
                                    <div class="col-8 col-sm-8 col-lg-8">
                                        <input type="text" name="note" [(ngModel)]="newNotes"
                                            [placeholder]="'Notes'" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="isAdd" class="row align-items-center m--margin-bottom-10">
                                <button type="button" (click)="addNewContractor()" class="btn btn-danger"
                                    [disabled]="!newProofNum || newProofNum === ''
                                    || !newsupplierSubmitDateString || newsupplierSubmitDateString === ''
                                    || !newBeginCost || newBeginCost === ''
                                    || !newBank || newBank === ''">Add</button>
                                <button type="button" (click)="cancelAddNew()"
                                    class="btn btn-primary">Cancel</button>
                        </div>
                    </div>
                </form>

                <!-- Contractors (Supplier)-->
                <div class="row align-items-center">
                    <div *ngIf="newBidUnits && newBidUnits.length" class="primeng-datatable-container">
                        <perfect-scrollbar [config]="{suppressScrollX: false}" (psScrollX)="onScrollX($event)">
                            <p-table #dataTable [value]="newBidUnits">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="ordinalNumber" style="width: 90px; text-align: center">
                                            {{l('Number')}}
                                            <p-sortIcon field="ordinalNumber"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="winner" style="width: 150px; text-align: center">
                                            {{l('Winner')}}
                                        </th>
                                        <th pSortableColumn="supplier" style="width: 150px; text-align: center">
                                            {{l('Supplier')}}
                                            <p-sortIcon field="supplier"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="submitDate" style="width: 150px; text-align: center">
                                            {{l('Submit Date')}}
                                            <p-sortIcon field="submitDate"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="proofNum" style="width: 150px; text-align: center">
                                            {{l('Proof Number')}}
                                            <p-sortIcon field="proofNum"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="beginCost" style="width: 150px; text-align: center">
                                            {{l('Begin Cost')}}
                                            <p-sortIcon field="beginCost"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="bank" style="width: 150px; text-align: center">
                                            {{l('Bank')}}
                                        </th>
                                        <th pSortableColumn="notes" style="width: 150px; text-align: center">
                                            {{l('Notes')}}
                                        </th>
                                        <th style="width: 150px; text-align: center">{{l('Action')}}</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit" let-index="rowIndex">
                                    <tr class="table-row text-center">
                                        <td style="width: 90px">
                                            <span title="{{record.ordinalNumber}}">{{index + 1}}</span>
                                        </td>
                                        <!-- status -->
                                        <td style="width: 150px">
                                            <input type="radio" id="selectWinContractor-{{index}}" value="{{index}}">
                                        </td>
                                        <td style="width: 150px">
                                            <span title="{{record.supplierCode}}">{{record.supplierCode}}</span>
                                        </td>
                                        <td style="width: 150px">
                                            <span title="{{record.submitDate}}">{{record.submitDate | date}}</span>
                                        </td>
                                        <td style="width: 150px">
                                            <span title="{{record.proofNum}}">{{record.proofNum}}</span>
                                        </td>
                                        <td style="width: 150px">
                                            <span title="{{record.beginCost}}">{{record.beginCost}}</span>
                                        </td>
                                        <td style="width: 150px">
                                            <span title="{{record.bank}}">{{record.bank}}</span>
                                        </td>
                                        <td style="width: 150px">
                                            <span title="{{record.note}}">{{record.note}}</span>
                                        </td>
                                        <td style="width: 150px">
                                            <button type="button" (click)="removeBidUnit(index)"
                                                class="btn btn-danger">Remove</button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </perfect-scrollbar>
                    </div>
                    <div class="primeng-no-data" *ngIf="!newBidUnits || !newBidUnits.length">
                        {{'     No Contractor'}}
                    </div>
                    <div>
                        <br><br>
                    </div>
                </div>
                <br>
                <div class="row align-items-center m--margin-bottom-10">
                    <div class="col-sm-12 text-center">
                        <button type="button" (click)="save()" class="btn btn-primary" [buttonBusy]="saving"
                            [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>