div.dinhdangchu{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;

}

td, th{
    font-family: 'Times New Roman', Times, serif;
    width: 150px;

}
::ng-deep thead.ui-table-thead th ,button.btn-info{
    font-family: 'Times New Roman', Times, serif !important;
}

