.mini-chart-item{
    cursor:pointer;
    text-decoration: none;
    color: white;
}
.mini-chart-item:hover{
    text-decoration: none;
}
.count {
    overflow:hidden;
    padding:16px 12px;
    height: 120px;
}

.small{
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.view-more{
    background-color: inherit;
    opacity: 0.9;
    text-align: center;
	font-family: 'Poppins', sans-serif !important;
	letter-spacing: .5px;
	text-transform: capitalize;
	text-shadow: none;
	font-weight:500;
    font-size: 13px;
    padding: 10px 10px 15px;
}
.view-more:hover{
	opacity: 0.8;
}
