<div [@routerTransition]>

  <div class="m-subheader ">
    <div class="d-flex align-items-center">
      <div class="mr-auto col-xs-6">
        <h3 class="m-subheader__title m-subheader__title--separator">
          <span>{{l("SubPlan")}}</span>
        </h3>
        <span class="m-section__sub">
          {{l("SubPlanInfo")}}
        </span>
      </div>
      <div class="col-xs-6 text-right">
        <button (click)="createSubPlan()" *ngIf="isGranted('Pages.Administration.MenuClient.Create')"
          class="btn btn-primary"><i class="fa fa-plus"></i> {{l("CreateNewSubPlan")}}</button>
      </div>
    </div>
  </div>

  <div class="m-content">
    <div class="m-portlet m-portlet--mobile">
      <div class="m-portlet__body">
        <form autocomplete="off" (ngSubmit)="searchProductCode()">
          <div class="m-form m-form--label-align-right" id="TextsFilterForm">
            <div class="row align-items-center m--margin-bottom-10">
              <div class="col-sm-12">
                <div class="btn-approved float-left">
                  <button (click)="approvedPlan()" type="button" [disabled]="approvalStatus === 1" class="right btn"
                    [ngClass]="{'btn-success': approvalStatus === 1, 'btn-danger': approvalStatus === 2}"
                    title="{{l('Approved Plan Include All SubPlan')}}">{{l("Approved")}}</button>
                </div>
              </div>
            </div>
            <!-- Plan info for all sub plan-->
            <div class="row m--margin-bottom-10">
              <div class="col-sm-6">
                <div class="row align-items-center m-b-5">
                  <div class="col-4 col-sm-4">
                    <span class="float-right">Plan Id:</span>
                  </div>
                  <div class="col-8 col-sm-8 col-lg-8">
                    <input type="text" [(ngModel)]="planId" [attr.disabled]="true" name="planId" class="form-control"
                      required>
                  </div>
                </div>
                <div class="row align-items-center m-b-5">
                  <div class="col-4 col-sm-4">
                    <span class="float-right">Approval Status:</span>
                  </div>
                  <div class="col-8 col-sm-8 col-lg-8">
                    <div *ngIf="approvalStatus == 1">
                      <select name="approvalStatus" class="form-control" jq-plugin="selectpicker" [attr.disabled]="true"
                        required>
                        <option *ngFor="let item of ApprovalStatusList" [value]="item.id">
                          {{item.name}}</option>
                      </select>
                    </div>
                    <div *ngIf="approvalStatus == 2">
                      <select name="approvalStatus" class="form-control" jq-plugin="selectpicker" [attr.disabled]="true"
                        required>
                        <option *ngFor="let item of ApprovalStatusList" [value]="item.id">
                          {{item.name}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row align-items-center m-b-5">
                  <div class="col-4 col-sm-4">
                    <span class="float-right">Year Implement:</span>
                  </div>
                  <div class="col-8 col-sm-8 col-lg-8">
                    <select name="yearImplement" class="form-control" jq-plugin="selectpicker" [attr.disabled]="true"
                      required>
                      <option *ngFor="let item of YearImplementList" [value]="item">
                        {{item}}</option>
                    </select>
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="col-4 col-sm-4">
                    <span class="float-right">Effective Date:</span>
                  </div>
                  <div class="col-8 col-sm-8 col-lg-8">
                    <input type="text" [(ngModel)]="effectiveDate" [attr.disabled]="true" name="effectiveDate"
                      class="form-control" required>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="row align-items-center m-b-5">
                  <div class="col-4 col-sm-4">
                    <span class="float-right">Total Price:</span>
                  </div>
                  <div class="col-8 col-sm-8 col-lg-8">
                    <input type="text" value="{{totalPrice | currency:'VND':'symbol':'4.2-2'}}" [attr.disabled]="true"
                      name="totalPrice" class="form-control" required>
                  </div>
                </div>
                <div class="row align-items-center m-b-5">
                  <div class="col-4 col-sm-4">
                    <span class="float-right">Implement Price:</span>
                  </div>
                  <div class="col-8 col-sm-8 col-lg-8">
                    <input type="text" value="{{implementPrice | currency:'VND':'symbol':'4.2-2'}}"
                      [attr.disabled]="true" name="implementPrice" class="form-control" required>
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="col-4 col-sm-4">
                    <span class="float-right">Pesidual Price:</span>
                  </div>
                  <div class="col-8 col-sm-8 col-lg-8">
                    <input type="text" value="{{residualPrice | currency:'VND':'symbol':'4.2-2'}}"
                      [attr.disabled]="true" name="residualPrice" class="form-control" required>
                  </div>
                </div>
              </div>
            </div>
            <div class="row align-items-center m--margin-bottom-10">
              <div class="col-sm-12">
                <div class="input-group">
                  <input [(ngModel)]="productCode" name="productCode" autoFocus class="form-control"
                    placeholder="{{l('Search Sub Plan By Product Code')}}" type="text">
                  <span class="input-group-btn">
                    <button class="btn btn-primary btn-min-width" type="submit"><i class="icon-refresh"></i>
                      {{l("Search")}}</button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </form>

        <div class="row align-items-center">
          <!--<Primeng-TurboTable-Start>-->
          <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
            <p-table #dataTable (onLazyLoad)="getSubPlans($event)" [value]="primengTableHelper.records"
              rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
              [responsive]="primengTableHelper.isResponsive">
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="ordinalNumber">
                    {{l('Number')}}
                    <p-sortIcon field="ordinalNumber"></p-sortIcon>
                  </th>
                  <th pSortableColumn="productCode">
                    {{l('Product Code')}}
                    <p-sortIcon field="productCode"></p-sortIcon>
                  </th>
                  <th pSortableColumn="productName">
                    {{l('Product Name')}}
                    <p-sortIcon field="productName"></p-sortIcon>
                  </th>
                  <th pSortableColumn="calculationUnit">
                    {{l('Cal Unit')}}
                    <p-sortIcon field="calculationUnit"></p-sortIcon>
                  </th>
                  <th pSortableColumn="quantity">
                    {{l('Quantity')}}
                    <p-sortIcon field="quantity"></p-sortIcon>
                  </th>
                  <th pSortableColumn="totalPrice">
                    {{l('Total Price')}}
                    <p-sortIcon field="totalPrice"></p-sortIcon>
                  </th>
                  <th pSortableColumn="scheduleMonth">
                    {{l('Schedule Month')}}
                    <p-sortIcon field="scheduleMonth"></p-sortIcon>
                  </th>
                  <th pSortableColumn="implementQuantity">
                    {{l('Im Qty')}}
                    <p-sortIcon field="implementQuantity"></p-sortIcon>
                  </th>
                  <th pSortableColumn="implementPrice">
                    {{l('Im Price')}}
                    <p-sortIcon field="implementPrice"></p-sortIcon>
                  </th>
                  <th pSortableColumn="implementMonth">
                    {{l('Im Month')}}
                    <p-sortIcon field="implementMonth"></p-sortIcon>
                  </th>
                  <th pSortableColumn="pesidualQuantity">
                    {{l('Pesidual Qty')}}
                    <p-sortIcon field="pesidualQuantity"></p-sortIcon>
                  </th>
                  <th pSortableColumn="pesidualPrice">
                    {{l('Pesidual Price')}}
                    <p-sortIcon field="pesidualPrice"></p-sortIcon>
                  </th>
                  <th>{{l('Action')}}</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-record="$implicit" let-index="rowIndex">
                <tr>
                  <td>
                    <span class="ui-column-title">{{l('Ordinal Number')}}</span>
                    <span title="{{record.ordinalNumber}}">{{truncateString(index + 1)}}</span>
                  </td>
                  <td>
                    <span class="ui-column-title">{{l('Product Code')}}</span>
                    <span title="{{record.productCode}}">{{truncateString(record.productCode)}}</span>
                  </td>
                  <td>
                    <span class="ui-column-title">{{l('Product Name')}}</span>
                    <span title="{{record.productName}}">{{truncateString(record.productName)}}</span>
                  </td>
                  <td>
                    <span class="ui-column-title">{{l('Cal Unit')}}</span>
                    <span title="{{record.calculationUnit}}">{{truncateString(record.calculationUnit)}}</span>
                  </td>
                  <td>
                    <span class="ui-column-title">{{l('Quantity')}}</span>

                    <span *ngIf="!record.isEdit" title="{{record.quantity}}">{{truncateString(record.quantity)}}</span>

                    <input *ngIf="record.isEdit" [(ngModel)]="record.quantityEdit" type="number" min="0"
                      name="quantityEdit" class="form-control">
                  </td>
                  <td>
                    <span class="ui-column-title">{{l('Total Price')}}</span>
                    <span
                      title="{{record.totalPrice}}">{{truncateString(record.totalPrice | currency:'VND':'symbol':'4.2-2')}}</span>
                  </td>
                  <td>
                    <span class="ui-column-title">{{l('Schedule Month')}}</span>
                    <span title="{{record.scheduleMonth}}">{{truncateString(record.scheduleMonth)}}</span>
                  </td>
                  <td>
                    <span class="ui-column-title">{{l('Im Qty')}}</span>
                    <span title="{{record.implementQuantity}}">{{truncateString(record.implementQuantity)}}</span>
                  </td>
                  <td>
                    <span class="ui-column-title">{{l('Implement Price')}}</span>
                    <span
                      title="{{record.implementPrice}}">{{truncateString(record.implementPrice | currency:'VND':'symbol':'4.2-2')}}</span>
                  </td>
                  <td>
                    <span class="ui-column-title">{{l('Im Month')}}</span>
                    <span title="{{record.implementMonth}}">{{truncateString(record.implementMonth)}}</span>
                  </td>
                  <td>
                    <span class="ui-column-title">{{l('Pesidual Qty')}}</span>
                    <span title="{{record.pesidualQuantity}}">{{ record.pesidualQuantity }}</span>
                  </td>
                  <td>
                    <span class="ui-column-title">{{l('Pesidual Price')}}</span>
                    <span
                      title="{{record.pesidualPrice}}">{{ record.pesidualPrice | currency:'VND':'symbol':'4.2-2'}}</span>
                  </td>
                  <td>
                    <button *ngIf="!record.isEdit"
                      class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                      [disabled]="approvalStatus === approvalStatusEnum.Approved" (click)="activeEditRow(record)"
                      title="{{l(approvalStatus === approvalStatusEnum.Approved ? 'Disabled when plan was approved' : 'Edit Quantity')}}">
                      <i class="fa fa-edit" [attr.aria-label]="l('Edit')"></i>
                    </button>
                    <div *ngIf="record.isEdit">
                      <button type="button" (click)="cancelEditRow(record)" class="btn btn-warning">Cancel</button>
                      <button type="button" (click)="saveEditRow(record)" class="btn btn-success">Save</button>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
              {{l('NoData')}}
            </div>
            <div class="primeng-paging-container">
              <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
                (onPageChange)="getSubPlans($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
              </p-paginator>
              <span class="total-records-count">
                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
              </span>
            </div>
          </div>
          <!--<Primeng-TurboTable-End>-->
        </div>
      </div>
    </div>
  </div>
</div>