
div.btn-approved {
  right: 0;
  min-width: 80%;
} 

.m-b-5 {
    margin-bottom: 5px;
}

#searchPlan{
  text-align: center!important;
}

.p-readonly {
  margin-top: 3px;
  margin-bottom: 0;
  padding-left: 13px;
  color: #626262;
}

.btn-min-width {
  min-width: 190px;
}
