<div [@routerTransition]>

    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-xs-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("Biên bản thanh lý")}}</span>
                </h3>
                <span class="m-section__sub">
                    {{l("Thông tin")}}
                </span>
            </div>
            <div class="col-xs-6 text-right">
                <button (click)="createBienBanBanGiaoTaiSan()" *ngIf="isGranted('Pages.Administration.BienBanBanGiaoTaiSan.Create')"
                    class="btn btn-primary"><i class="fa fa-plus"></i> {{l("Tạo mới Biên bản thanh lý")}}</button>
            </div>
        </div>
    </div>

    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <div class="row align-items-center">
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable (onLazyLoad)="getBienBanBanGiaoTaiSans($event)" [value]="primengTableHelper.records"
                            rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                            [responsive]="primengTableHelper.isResponsive">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="bienBanBanGiaoTaiSan.id">
                                        Mã biên bản
                                        <p-sortIcon field="bienBanBanGiaoTaiSan.id"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="bienBanBanGiaoTaiSan.taiSanCoDinhId">
                                        <!-- (?) Tại sao có Id lại ko dc -->
                                        Tên tài sản
                                        <p-sortIcon field="bienBanBanGiaoTaiSan.taiSanCoDinhId"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="bienBanBanGiaoTaiSan.phongBanId">
                                        <!-- (?) Tại sao có Id lại ko dc -->
                                        Tên phòng ban
                                        <p-sortIcon field="bienBanBanGiaoTaiSan.phongBanId"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="bienBanBanGiaoTaiSan.ngayNhan">
                                        Ngày nhận
                                        <p-sortIcon field="bienBanBanGiaoTaiSan.ngayNhan"></p-sortIcon>
                                    </th>
                                    <th>{{l('Thao tác')}}</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td>
                                        <span class="ui-column-title">Mã biên bản</span>
                                        <span
                                            title="{{record.bienBanBanGiaoTaiSan.id}}">{{truncateString(record.bienBanBanGiaoTaiSan.id)}}</span>
                                    </td>
                                    <td>
                                        <span class="ui-column-title">Tên tài sản</span>
                                        <span
                                            title="{{record.tenTaiSanCoDinh}}">{{truncateString(record.tenTaiSanCoDinh)}}</span>
                                    </td>
                                    <td>
                                        <span class="ui-column-title">Tên phòng ban</span>
                                        <span
                                            title="{{record.tenPhongBan}}">{{truncateString(record.tenPhongBan)}}</span>
                                    </td>
                                    <td>
                                        <span class="ui-column-title">Ngày nhận</span>
                                        <span
                                            title="{{record.bienBanBanGiaoTaiSan.ngayNhan.format('DD/MM/YYYY')}}">{{truncateString(record.bienBanBanGiaoTaiSan.ngayNhan.format('DD/MM/YYYY'))}}</span>
                                    </td>


                                    <td>
                                        <button
                                            class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                                            (click)="createOrEditModal.show(record.bienBanBanGiaoTaiSan.id)"
                                            title="{{l('Edit')}}">
                                            <i class="fa fa-edit" [attr.aria-label]="l('Edit')"></i>
                                        </button>

                                        <button
                                            class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                                            (click)="deleteBienBanBanGiaoTaiSan(record.bienBanBanGiaoTaiSan.id)" title="{{l('Delete')}}">
                                            <i class="fa fa-times" [attr.aria-label]="l('Delete')"></i>
                                        </button>

                                        <button
                                            class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                                            (click)="viewBienBanBanGiaoTaiSanModal.show(record.bienBanBanGiaoTaiSan.id)"
                                            title="{{l('View')}}">
                                            <i class="fa fa-eye" [attr.aria-label]="l('View')"></i>
                                        </button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
                                (onPageChange)="getBienBanBanGiaoTaiSans($event)"
                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-TurboTable-End>-->
                </div>
            </div>
        </div>
    </div>

    <!-- <viewBienBanBanGiaoTaiSanModal #viewBienBanBanGiaoTaiSanModal></viewBienBanBanGiaoTaiSanModal>
    <createOrEditBienBanBanGiaoTaiSanModal #createOrEditModal (modalSave)="reloadPage()" [taiSanCoDinhs]="taiSanCoDinhs"></createOrEditBienBanBanGiaoTaiSanModal> -->
    <viewBienBanBanGiaoTaiSanModal #viewBienBanBanGiaoTaiSanModal></viewBienBanBanGiaoTaiSanModal>
    <createOrEditBienBanBanGiaoTaiSanModal #createOrEditModal (modalSave)="reloadPage()" [taiSanCoDinhs]="taiSanCoDinhs" [phongBans]="phongBans"></createOrEditBienBanBanGiaoTaiSanModal>
</div>