<div bsModal #viewModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="viewModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span *ngIf="bienBanBanGiaoTaiSan.id">{{l("Thông tin Biên bản thanh lý")}}: {{bienBanBanGiaoTaiSan.id}}</span>
                    <span *ngIf="!bienBanBanGiaoTaiSan.id">{{l("Tạo mới Biên bản thanh lý")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label style="font-weight: 500">Mã biên bản</label>
                    <p>{{bienBanBanGiaoTaiSan.id}}</p>
                </div>
                <div class="form-group">
                    <label style="font-weight: 500">Mã tài sản</label>
                    <p>{{bienBanBanGiaoTaiSan.taiSanCoDinhId}}</p>
                </div>
                <div class="form-group">
                    <label style="font-weight: 500">Mã phòng ban nhận</label>
                    <p>{{bienBanBanGiaoTaiSan.phongBanId}}</p>
                </div>
                <div class="form-group">
                    <label style="font-weight: 500">Ngày nhận</label>
                    <p *ngIf="bienBanBanGiaoTaiSan.ngayNhan">{{bienBanBanGiaoTaiSan.ngayNhan.format('DD/MM/YYYY')}}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                    (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>
</div>