<div [@routerTransition]>

    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-xs-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("Transfer")}}</span>
                </h3>
                <span class="m-section__sub">
                    {{l("TransferInfo")}}
                </span>
            </div>
            <div class="col-xs-6 text-right">
                <button (click)="createTransfer()" *ngIf="isGranted('Pages.Administration.Transfer.Create')"
                    class="btn btn-primary"><i class="fa fa-plus"></i> {{l("CreateNewTransfer")}}</button>
            </div>
        </div>
    </div>

    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <form autocomplete="off">
                    <div class="m-form m-form--label-align-right" id="TextsFilterForm">
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <input [(ngModel)]="transferName" name="transferName" autoFocus class="form-control"
                                        placeholder="Nhập tên khách hàng" type="text">
                                    <span class="input-group-btn">
                                        <button (click)="applyFilters()" class="btn btn-primary" type="submit"><i
                                                class="icon-refresh"></i>
                                            {{l("Refresh")}}</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row align-items-center">
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable (onLazyLoad)="getTransfers($event)" [value]="primengTableHelper.records"
                            rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                            [responsive]="primengTableHelper.isResponsive">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="transferDate">
                                        Ngày điều chuyển
                                        <p-sortIcon field="transferDate"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="assetId">
                                        Mã tài sản
                                        <p-sortIcon field="assetId"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="assetName">
                                        Tên tài sản
                                        <p-sortIcon field="assetName"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="receivingUnit">
                                        Đơn vị nhận
                                        <p-sortIcon field="receivingUnit"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="receiver">
                                        Người nhận
                                        <p-sortIcon field="receiver"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="statusApproved">
                                        Trạng thái
                                        <p-sortIcon field="statusApproved"></p-sortIcon>
                                    </th>
                                    <th>{{l('Edit')}}</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td>
                                        <span class="ui-column-title">Ngày điều chuyển</span>
                                        <span title="{{record.transferDate}}">{{truncateString(record.transferDate)}}</span>
                                    </td>
                                    <td>
                                        <span class="ui-column-title">Mã tài sản</span>
                                        <span title="{{record.assetId}}">{{truncateString(record.assetId)}}</span>
                                    </td>
                                    <td>
                                        <span class="ui-column-title">Tên tài sản</span>
                                        <span title="{{record.info}}">{{}}</span>
                                    </td>
                                    <td>
                                        <span class="ui-column-title">Đơn vị nhận</span>
                                        <span title="{{record.receivingUnit}}">{{truncateString(record.receivingUnit)}}</span>
                                    </td>
                                    <td>
                                        <span class="ui-column-title">Người nhận</span>
                                        <span title="{{record.receiver}}">{{truncateString(record.receiver)}}</span>
                                    </td>
                                    <td>
                                        <span class="ui-column-title">Trạng thái</span>
                                        <span title="{{record.statusApproved}}">{{truncateString(record.statusApproved)}}</span>
                                    </td>
                                    <td>
                                        <button
                                            class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                                            (click)="createOrEditModal.show(record.id)" title="{{l('Edit')}}">
                                            <i class="fa fa-edit" [attr.aria-label]="l('Edit')"></i>
                                        </button>

                                        <button
                                            class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                                            (click)="deleteTransfer(record.id)" title="{{l('Delete')}}">
                                            <i class="fa fa-times" [attr.aria-label]="l('Delete')"></i>
                                        </button>

                                        <button
                                            class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                                            (click)="viewTransferModal.show(record.id)" title="{{l('View')}}">
                                            <i class="fa fa-eye" [attr.aria-label]="l('View')"></i>
                                        </button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
                                (onPageChange)="getTransfers($event)"
                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-TurboTable-End>-->
                </div>
            </div>
        </div>
    </div>
    <createOrEditTransferModal #createOrEditModal (modalSave)="reloadPage()"></createOrEditTransferModal>
    <viewTransferModal #viewTransferModal></viewTransferModal>
</div>