<div [@routerTransition]>

    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-xs-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("Thông tin đăng kiểm xe")}}</span>
                </h3>
                <span class="m-section__sub">
                    {{l("Thông tin chi tiết")}}
                </span>
            </div>

        </div>
    </div>

    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <form autocomplete="off">
                    <div class="m-form m-form--label-align-right" id="TextsFilterForm">
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-sm-12 row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Số xe</label>
                                        <div class="d-flex ">
                                            <input #soXeInput="ngModel" class="form-control" type="text" name="soXe"
                                                [disabled]="true" [(ngModel)]="thongtinxeDto.soXe" maxlength="64">
                                            <button class="form-control btn btn-outline-primary"
                                                (click)="viewThongTinXe.show()"
                                                style="margin-right: 20px; width: 50px">...</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Model</label>
                                        <input [disabled]="true" #modelInput="ngModel" class="form-control" type="text"
                                            name="model" [(ngModel)]="thongtinxeDto.model" maxlength="64">
                                    </div>
                                    <div class="form-group">
                                        <label>Đơn vị sử dụng </label>
                                        <input [disabled]="true" #donvisudungInput="ngModel" class="form-control"
                                            type="text" name="donViSuDung" [(ngModel)]="thongtinxeDto.mucDichSuDung"
                                            maxlength="64">
                                    </div>
                                    <div class="form-group">
                                        <label>Mục đích sử dụng </label>
                                        <input [disabled]="true" #mucdichsudungInput="ngModel" class="form-control"
                                            type="text" name="mucDichSuDung" [(ngModel)]="thongtinxeDto.mucDichSuDung"
                                            maxlength="64">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Năm sản xuất</label>
                                        <input [disabled]="true" #namSanxuatInput="ngModel" class="form-control"
                                            type="text" name="namSanXuat" [(ngModel)]="thongtinxeDto.namSanXuat"
                                            maxlength="64">
                                    </div>
                                    <div class="form-group">
                                        <label>Hãng sản xuất</label>
                                        <input [disabled]="true" #hangSanXuatInput="ngModel" class="form-control"
                                            type="text" name="trangThaiDuyet" [(ngModel)]="thongtinxeDto.hangSanXuat"
                                            maxlength="64">
                                    </div>
                                    <div class="form-group">
                                        <label>Loại xe</label>
                                        <input [disabled]="true" #loaiXeInput="ngModel" class="form-control" type="text"
                                            name="loaiXe" [(ngModel)]="thongtinxeDto.loaiXe" maxlength="64">
                                    </div>
                                    <div class="form-group">
                                        <label>Trạng thái duyệt </label>
                                        <input [disabled]="true" #trangthaiduyetInput="ngModel" class="form-control"
                                            type="text" name="trangThaiDuyet" [(ngModel)]="thongtinxeDto.trangThaiDuyet"
                                            maxlength="64">
                                    </div>
                                </div>
                                <div class="input-group w-100">
                                    <span class="input-group-btn w-100">
                                        <button *ngIf="soXe.length>0" class="btn btn-info float-right "
                                            (click)="createOrEditModal.show(-1)"><i class="icon-refresh"></i>
                                            {{l("Thêm mới")}}</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row align-items-center">
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable (onLazyLoad)="getThongTinDangKiems(soXe,$event)"
                            [value]="primengTableHelper.records"
                            rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                            [responsive]="primengTableHelper.isResponsive" [scrollable]="true">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="soXe" style="width: 200px;">
                                        Số xe
                                        <p-sortIcon field="soXe"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="donViSuDung" style="width: 200px;">
                                        Ngày đăng kiểm
                                        <p-sortIcon field="donViSuDung"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="LoaiXe" style="width: 200px;">
                                        Ngày hết hạn đăng kiểm
                                        <p-sortIcon field="LoaiXe"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="hangSanXuat" style="width: 200px;">
                                        Thời hạn đăng kiểm
                                        <p-sortIcon field="hangSanXuat"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="mucDichSuDung" style="width: 200px;">
                                        Cơ quan đăng kiểm
                                        <p-sortIcon field="mucDichSuDung"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="mucDichSuDung" style="width: 200px;">
                                        Trạng thái duyệt
                                        <p-sortIcon field="mucDichSuDung"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="mucDichSuDung" style="width: 200px;">
                                        Ghi chú
                                        <p-sortIcon field="mucDichSuDung"></p-sortIcon>
                                    </th>
                                    <th style="width: 200px;">{{l('Edit')}}</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit" let-index="rowIndex">
                                <tr>
                                    <td style="width: 200px;">
                                        <span class="ui-column-title">Số xe</span>
                                        <span title="{{record.soXe}}">{{truncateString(record.soXe)}}
                                        </span>
                                    </td>
                                    <td style="width: 200px;">
                                        <span class="ui-column-title">Ngày đăng kiểm</span>
                                        <span
                                            title="{{record.ngayDangKiem}}">{{truncateString(record.ngayDangKiem)|date}}</span>
                                    </td>
                                    <td style="width: 200px;">
                                        <span class="ui-column-title">Ngày hết hạn đăng kiểm </span>
                                        <span
                                            title="{{record.ngayHetHanDangKiem}}">{{truncateString(record.ngayHetHanDangKiem)|date}}</span>
                                    </td>
                                    <td style="width: 200px;">
                                        <span class="ui-column-title">Thời hạn đăng kiểm</span>
                                        <span
                                            title="{{record.thoiHanDangKiem}}">{{truncateString(record.thoiHanDangKiem)|date}}</span>
                                    </td>
                                    <td style="width: 200px;">
                                        <span class="ui-column-title">Cơ quan đăng kiểm</span>
                                        <span
                                            title="{{record.coQuanDangKiem}}">{{truncateString(record.coQuanDangKiem)}}</span>
                                    </td>
                                    <td style="width: 200px;">
                                        <span class="ui-column-title">Trạng thái duyệt</span>
                                        <span
                                            title="{{record.trangThaiDuyet}}">{{truncateString(record.trangThaiDuyet)}}</span>
                                    </td>
                                    <td style="width: 200px;">
                                        <span class="ui-column-title">Ghi chú</span>
                                        <span title="{{record.ghiChu}}">{{truncateString(record.ghiChu)}}</span>
                                    </td>
                                    <td style=" width: 200px;">
                                        <button class=" btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only
                                            m-btn--pill" (click)="createOrEditModal.show(record.id)"
                                            title="{{l('Edit')}}"
                                            *ngIf='record.trangThaiDuyet!="Đã duyệt" || isDuyet' >
                                            <i class="fa fa-edit" [attr.aria-label]="l('Edit')"></i>
                                        </button>

                                        <button
                                            class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                                            (click)="deleteThongTinDangKiemXe(record.id)" title="{{l('Delete')}}">
                                            <i class="fa fa-times" [attr.aria-label]="l('Delete')"></i>
                                        </button>

                                        <button
                                            class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                                            (click)="viewThongTinXeModal.show(record.id)" title="{{l('View')}}">
                                            <i class="fa fa-eye" [attr.aria-label]="l('View')"></i>
                                        </button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0 ">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
                                (onPageChange)="getThongTinDangKiems(soXe,$event)"
                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-TurboTable-End>-->
                </div>
            </div>
        </div>
    </div>
    <createOrEditDangKiemXeModal #createOrEditModal (modalSave)="reloadPage()" [soXe]="thongtinxeDto.soXe">
    </createOrEditDangKiemXeModal>
    <viewDangKiemXeModal #viewThongTinXeModal [soXe]="thongtinxeDto.soXe"></viewDangKiemXeModal>
    <thongTinXeModalComponent #viewThongTinXe (thongtinxe)="getThongTinXe($event)"></thongTinXeModalComponent>
</div>