<div bsModal #viewModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="viewModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span *ngIf="hoaDonNhap.id">{{l("Thông tin Hóa đơn với Id")}}: {{hoaDonNhap.id}}</span>
                    <span *ngIf="!hoaDonNhap.id">{{l("CreateNewHoaDonNhap")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label style="font-weight: 500">Mã hóa đơn</label>
                    <p>{{hoaDonNhap.donViCungCapTaiSanId}}</p>
                </div>
                <div class="form-group">
                    <label style="font-weight: 500">Số hóa đơn</label>
                    <p>{{hoaDonNhap.soHoaDon}}</p>
                </div>
                <!-- Các *ngIf dưới <p> để fix tạm thời 1 lỗi tào lao, bỏ *ngIf ra & mở console.log() để biết lỗi gì -->
                <div class="form-group">
                    <label style="font-weight: 500">Ngày nhận</label>
                    <p *ngIf="hoaDonNhap.ngayNhan">{{hoaDonNhap.ngayNhan.format('DD/MM/YYYY')}}</p>
                </div>
                <hr>
                <div class="form-group">
                    <label style="font-weight: 500">Giá mua thực tế</label>
                    <p *ngIf="hoaDonNhap.giaMuaThucTe">{{hoaDonNhap.giaMuaThucTe.toLocaleString()}} VNĐ</p>
                </div>
                <div class="form-group">
                    <label style="font-weight: 500">Chi phí vận chuyển</label>
                    <p *ngIf="hoaDonNhap.chiPhiVanChuyen">{{hoaDonNhap.chiPhiVanChuyen.toLocaleString()}} VNĐ</p>
                </div>
                <div class="form-group">
                    <label style="font-weight: 500">Chi phí sửa chữa</label>
                    <p *ngIf="hoaDonNhap.chiPhiSuaChua">{{hoaDonNhap.chiPhiSuaChua.toLocaleString()}} VNĐ</p>
                </div>
                <div class="form-group">
                    <label style="font-weight: 500">Chi phí nâng cấp</label>
                    <p *ngIf="hoaDonNhap.chiPhiNangCap">{{hoaDonNhap.chiPhiNangCap.toLocaleString()}} VNĐ</p>
                </div>
                <div class="form-group">
                    <label style="font-weight: 500">Chi phí lắp đặt chạy thử</label>
                    <p *ngIf="hoaDonNhap.chiPhiLapDatChayThu">{{hoaDonNhap.chiPhiLapDatChayThu.toLocaleString()}} VNĐ</p>
                </div>
                <div class="form-group">
                    <label style="font-weight: 500">Thuế</label>
                    <p *ngIf="hoaDonNhap.thue">{{hoaDonNhap.thue.toLocaleString()}} VNĐ</p>
                </div>
                <div class="form-group">
                    <label style="font-weight: 500">Lệ phí</label>
                    <p *ngIf="hoaDonNhap.lePhi">{{hoaDonNhap.lePhi.toLocaleString()}} VNĐ</p>
                </div> 
                <hr>
                <div class="form-group">
                    <label style="font-weight: 500">Nguyên giá tài sản (Tổng cộng)</label>
                    <p *ngIf="hoaDonNhap.nguyenGiaTaiSan">{{hoaDonNhap.nguyenGiaTaiSan.toLocaleString()}} VNĐ</p> 
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                    (click)="close()">{{l("Cancel")}}</button>
                <button type="submit" class="btn btn-primary">
                  <i class="fa fa-save"></i>
                  <span>{{l("Save")}}</span>
                </button>
            </div>
        </div>
    </div>
</div>