<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #editForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="phieuBaoDuongInput.id">Cập nhật Phiếu bảo dưỡng: {{phieuBaoDuongInput.soHoaDon}}</span>
                        <span *ngIf="!phieuBaoDuongInput.id">Tạo mới Phiếu bảo dưỡng</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label>Tài sản cố định {{phieuBaoDuongInput.taiSanCoDinhId}} *</label>
                        <select class="custom-select" [(ngModel)]="phieuBaoDuongInput.taiSanCoDinhId" name="loaiTaiSanId">
                            <option value="{{item.taiSanCoDinh.id}}" *ngFor="let item of taiSanCoDinhs">{{item.taiSanCoDinh.tenTaiSan}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Số hóa đơn *</label>
                        <input #soHoaDonInput="ngModel" class="form-control" type="text" name="soHoaDon"
                            [(ngModel)]="phieuBaoDuongInput.soHoaDon" required maxlength="64">
                        <validation-messages [formCtrl]="soHoaDonInput"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label>Chi phí *</label>
                        <div class="input-group">
                            <input #chiPhiInput="ngModel" [(ngModel)]="phieuBaoDuongInput.chiPhi" name="chiPhi" type="number" class="form-control" required>
                            <div class="input-group-append">
                                <span class="input-group-text">VNĐ</span>
                            </div>
                        </div>
                        <validation-messages [formCtrl]="chiPhiInput"></validation-messages>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default"
                        (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary" [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>