<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #editForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="provider.id">Cập nhật nhà cung cấp: {{provider.name}}</span>
                        <span *ngIf="!provider.id">Tạo mới nhà cung cấp</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Tên nhà cung cấp *</label>
                        <input #nameInput="ngModel" class="form-control" type="text" name="Name"
                            [(ngModel)]="provider.name" required maxlength="64">
                        <validation-messages [formCtrl]="nameInput"></validation-messages>
                    </div>
                    <div class="form-group">
                        <label>Số điện thoại *</label>
                        <input #noteInput="ngModel" class="form-control" type="text" name="Phone"
                            [(ngModel)]="provider.phone" required maxlength="15">
                        <validation-messages [formCtrl]="phoneInput"></validation-messages>
                    </div>
                    <div class="form-group">
                        <label>Email *</label>
                        <input #noteInput="ngModel" class="form-control" type="text" name="Email"
                            [(ngModel)]="provider.email" required maxlength="255">
                        <validation-messages [formCtrl]="emailInput"></validation-messages>
                    </div>
                    <div class="form-group">
                        <label>Address *</label>
                        <input #noteInput="ngModel" class="form-control" type="text" name="Address"
                            [(ngModel)]="provider.address" required maxlength="255">
                        <validation-messages [formCtrl]="addressInput"></validation-messages>
                    </div>
                    <div class="form-group">
                        <label>Mã số thuế *</label>
                        <input #noteInput="ngModel" class="form-control" type="text" name="TaxCode"
                            [(ngModel)]="provider.taxCode" required maxlength="64">
                        <validation-messages [formCtrl]="taxCodeInput"></validation-messages>
                    </div>
                    <div class="form-group">
                        <label>Thông tin *</label>
                        <input #noteInput="ngModel" class="form-control" type="text" name="Info"
                            [(ngModel)]="provider.info" required maxlength="1000">
                        <validation-messages [formCtrl]="infoInput"></validation-messages>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default"
                        (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary" [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>