<div [@routerTransition]>

    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-xs-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("Project")}}</span>
                </h3>
                <span class="m-section__sub">
                    {{l("ProjectInfo")}}
                </span>
            </div>
            <div class="col-xs-6 text-right">
                <button (click)="createProject()" *ngIf="isGranted('Pages.Administration.MenuClient.Create')"
                    class="btn btn-primary"><i class="fa fa-plus"></i> {{l("CreateNewProject")}}</button>
            </div>
        </div>
    </div>

    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <form autocomplete="off" (ngSubmit)="getProjects(paginator)">
                    <div class="m-form m-form--label-align-right" id="TextsFilterForm">
                        <!-- filter -->
                        <div class="row m--margin-bottom-10">
                            <div class="col-sm-6">
                                <div class="row align-items-center m-b-5">
                                    <div class="col-4 col-sm-4">
                                        <span class="float-right">Project Code:</span>
                                    </div>
                                    <div class="col-8 col-sm-8 col-lg-8">
                                        <input type="text" name="projectCode" [(ngModel)]="projectCodeFilter"
                                            [placeholder]="'Project Code'" class="form-control">
                                    </div>
                                </div>

                                <div class="row align-items-center m-b-5">
                                    <div class="col-4 col-sm-4">
                                        <span class="float-right">Create Date:</span>
                                    </div>
                                    <!-- https://github.com/kekeh/mydatepicker/blob/master/README.md -->
                                    <div class="col-8 col-sm-8 col-lg-8">
                                        <my-date-picker class="flex" name="createDate" [placeholder]="'  Select A Date'"
                                            [options]="createDatePickerOptions" (dateChanged)="onDateChangedBy($event)">
                                        </my-date-picker>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row align-items-center m-b-5">
                                    <div class="col-4 col-sm-4">
                                        <span class="float-right">Project Name:</span>
                                    </div>
                                    <div class="col-8 col-sm-8 col-lg-8">
                                        <input type="text" name="projectName" [(ngModel)]="projectNameFilter"
                                            [placeholder]="'Project Name'" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- search -->
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-sm-12 text-center">
                                <button class="btn btn-primary" type="submit"><i class="icon-refresh"></i>
                                    {{l("Search")}}</button>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                        <!-- perfect-scrollbar, https://www.npmjs.com/package/ngx-perfect-scrollbar -->
                        <perfect-scrollbar [config]="{suppressScrollX: false}" (psScrollX)="onScrollX($event)">
                            <p-table #dataTable (onLazyLoad)="getProjects($event)" [value]="primengTableHelper.records"
                                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                [lazy]="true" [responsive]="primengTableHelper.isResponsive">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="ordinalNumber" style="width: 90px; text-align: center">
                                            {{l('Number')}}
                                            <p-sortIcon field="ordinalNumber"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="projectCode" style="width: 150px; text-align: center">
                                            {{l('Project Code')}}
                                            <p-sortIcon field="projectCode"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="projectName" style="width: 150px; text-align: center">
                                            {{l('Project Name')}}
                                            <p-sortIcon field="projectName"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="createDate" style="width: 150px; text-align: center">
                                            {{l('Create Date')}}
                                            <p-sortIcon field="createDate"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="activeDate" style="width: 150px; text-align: center">
                                            {{l('Active Date')}}
                                            <p-sortIcon field="activeDate"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="status" style="width: 150px; text-align: center">
                                            {{l('Status')}}
                                            <p-sortIcon field="status"></p-sortIcon>
                                        </th>
                                        <th *ngIf="isPermissionEditCloseActive"
                                            style="width: 230px; text-align: center">
                                            {{l('Action')}}</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit" let-index="rowIndex">
                                    <tr class="table-row text-center">
                                        <!-- <tr class="table-row" routerLink="app/gwebsite/plan/detail/{{record.planId}}"> -->
                                        <td style="width: 90px">
                                            <span class="ui-column-title">{{l('Number')}}</span>
                                            <span title="{{record.ordinalNumber}}">{{truncateString(index + 1)}}</span>
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title">{{l('Project Code')}}</span>
                                            <span title="{{record.code}}">{{truncateString(record.code)}}</span>
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title">{{l('Project Name')}}</span>
                                            <span *ngIf="!record.isEdit"
                                                title="{{record.name}}">{{ record.name }}</span>
                                            <input *ngIf="record.isEdit" type="text" name="recordName"
                                                [(ngModel)]="record.name" class="form-control">
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title">{{l('Create Date')}}</span>
                                            <span title="{{record.createDate}}">{{ record.createDate | date: 'dd/MM/yyyy'}}</span>
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title">{{l('Active Date')}}</span>
                                            <span
                                                title="{{record.activeDate}}">{{ (record.activeDate ? record.activeDate  : 'N/A') | date: 'dd/MM/yyyy'}}</span>
                                        </td>

                                        <td style="width: 150px">
                                            <span class="ui-column-title">{{l('Status')}}</span>
                                            <span [ngClass]="{'red-text': record.status === approvalStatusEnum.Inactive,
                                                            'green-text': record.status === approvalStatusEnum.Active}"
                                                title="{{record.status}}">{{ record.status === approvalStatusEnum.Active ? 'Active' : 
                                                (record.status === approvalStatusEnum.Inactive ? 'Inactive' : 'Close') }}</span>
                                        </td>
                                        <td *ngIf="isPermissionEditCloseActive" style="width: 230px">
                                            <button *ngIf="!record.isEdit" class="btn btn-primary"
                                                (click)="actionEdit(record, $event)">Edit
                                            </button>
                                            <button *ngIf="record.isEdit" class="btn btn-success"
                                                (click)="saveEditItem(record.id, record, $event)">Save
                                            </button>
                                            <button *ngIf="record.isEdit" class="btn btn-danger"
                                                (click)="cancelEdit(record, $event)">Cancel
                                            </button>
                                            <button *ngIf="!record.isEdit"
                                                [disabled]="record.status !== approvalStatusEnum.Inactive"
                                                class="btn btn-warning" (click)="closeItem(record.id, record, $event)">
                                                Close
                                            </button>
                                            <button *ngIf="!record.isEdit"
                                                [disabled]="record.status !== approvalStatusEnum.Inactive"
                                                class="btn btn-success" (click)="activeItem(record.id, record, $event)">
                                                Active
                                            </button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </perfect-scrollbar>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
                                (onPageChange)="getProjects($event)"
                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-TurboTable-End>-->
                </div>
            </div>
        </div>
    </div>
    <createOrEditProjectModal #createOrEditModal (modalSave)="refreshValueFromModal()"></createOrEditProjectModal>
</div>