<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!--<form #editForm="ngForm" novalidate (ngSubmit)="save()">-->
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="nhomTaiSan.id">Cập nhật nhóm tài sản: {{nhomTaiSan.tenNhomTaiSan}}</span>
                        <span *ngIf="!nhomTaiSan.id">Tạo mới nhóm tài sản</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- <div class="col-xs-6 text-right">
                        <button (click)="searchTaiSan()" 
                                class="btn btn-primary">
                            <i class="fa fa-plus"></i> {{l("Tìm tài sản")}}
                        </button>
                    </div> -->
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Tên nhóm tài sản *</label>
                        <input #TenNhomTaiSanInput="ngModel" class="form-control" type="text" name="tenNhomTaiSan"
                               [(ngModel)]="nhomTaiSan.tenNhomTaiSan" required maxlength="64">
                        <validation-messages [formCtrl]="TenNhomTaiSanInput"></validation-messages>
                    </div>
                    <div class="form-group">
                        <!--<label>Loại tài sản *</label>
        <input #LoaiTaiSanInput="ngModel" class="form-control" type="text" name="loaiTaiSan"
               [(ngModel)]="nhomTaiSan.loaiTaiSan" required maxlength="64">
        <validation-messages [formCtrl]="LoaiTaiSanInput"></validation-messages>-->

                        <label>Loại tài sản *</label>
                        <select #LoaiTaiSanInput="ngModel" class="form-control" name="loaiTaiSan"
                                [(ngModel)]="nhomTaiSan.loaiTaiSan" required maxlength="64">
                            <!-- <option *ngFor="let listid of listId">
                {{listid}}
            </option> -->
                            <option value="Tài sản cố định">Tài sản cố định</option>
                            <option value="Công cụ lao động">Công cụ lao động</option>

                        </select>
                        <validation-messages [formCtrl]="LoaiTaiSanInput"></validation-messages>
                    </div>
                    <div class="form-group">
                        <label>Số tháng khấu hao *</label>
                        <input #SoThangKhauHaoInput="ngModel" class="form-control" type="text" name="soThangKhauHao"
                               [(ngModel)]="nhomTaiSan.soThangKhauHao" required maxlength="64"
                               (change)="setTyLeKhauHao($event.target.value)">
                        <validation-messages [formCtrl]="SoThangKhauHaoInput"></validation-messages>
                    </div>
                    <!--<div class="form-group">
                        <label>Tỷ lệ khấu hao *</label>
                        <input #TyLeKhauHaoInput="ngModel" class="form-control" type="text" name="tyLeKhauHao" disabled
                               [(ngModel)]="nhomTaiSan.tyLeKhauHao" required maxlength="64">
                        <validation-messages [formCtrl]="TyLeKhauHaoInput"></validation-messages>
                    </div>-->
                    <div class="form-group">
                        <label>Tỷ lệ khấu hao *</label>
                        <input class="form-control" type="text" name="tyLeKhauHao" disabled
                               value="{{tyLeKhauHao}}" required maxlength="64">                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                        (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary" (click)="save()"><i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            <!--</form>-->
        </div>
    </div>
    <searchTaiSan #createOrEditSearchModal (modalSearchSave)="reloadPage()"></searchTaiSan>
</div>
