::ng-deep .ui-multiselect{
width: 100% !important;
}

::ng-deep .ui-multiselect-items-wrapper{
    width: 100% !important;
}

/* ::ng-deep .ui-datepicker-calendar{
    position: absolute !important;
    top:0px;
    left:0px;
    z-index: 10000;
} */

::ng-deep .ui-multiselect-items{
    min-height: 200px;
}

::ng-deep .ui-dropdown {
    width: 130px !important;
    color:black !important;
}