h2.title{
    color: #FFFFFF;
       text-transform: uppercase;
       font-family: Times,'Times New Roman', serif; 
}
div.header{
   background-color: #00C5DC; 
}
button.show{
    display: inline-block;
    margin-right: 20px; 
    width: 50px;
}
h4.subtilte{
       color: #d65a31;
       font-size: 20px;
       padding-bottom: 15px;
       padding-top: 15px;
        text-transform: uppercase;
        font-style: normal;
}
div.dinhdangchu{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-style: italic;
}
tab.a{
    color:#d65a31;
}

