<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #editForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="useasset.id">Cập nhật xuất sử dụng tài sản: {{useasset.assetId}}</span>
                        <span *ngIf="!useasset.id">Tạo mới xuất sử dụng tài sản</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Ngày xuất *</label>
                        <input #nameInput="ngModel" readonly class="form-control" type="date" name="DateExport"
                            [(ngModel)]="useasset.dateExport" required>
                    </div>
                    <div class="form-group">
                        <!-- <label>Tài sản *</label>
                        <select *ngIf="!useasset.id" #nameInput="ngModel" required [(ngModel)]='assetSelect.assetId'
                            class='form-control' name="AssetID" (change)="getAssetByID($event.target.value)">
                            <option *ngFor="let item of listAssetInStock" [value]="item.assetId">
                                {{item.assetId}} - {{item.assetName}}
                            </option>
                        </select> -->

                        <!-- Open EmCampaign Lookup Modal -->
                        <div class="form-group m-form__group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="btn btn-success" (click)="openSelectAssetModal()" type="button"><i class="fa fa-search"></i> Chọn tài sản</button>
                                </div>
                                <input class="form-control" id="EmcampaignName" name="emCampaignName" value="{{assetSelect.assetName}}" type="text" disabled required>
                            </div>
                        </div>
                        
                        <!-- <input *ngIf="useasset.id" readonly name="AssetID" [value]="assetSelect.assetName"
                            class="form-control" type="text"> -->
                    </div>
                    <div class="form-group">
                        <label>Loại tài sản *</label>
                        <input readonly name="assetType" [value]="assetType" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>Nhóm tài sản *</label>
                        <input readonly name="assetGroupName" [value]="assetGroup.assetGroupName" class="form-control"
                            type="text">
                    </div>
                    <div class="form-group">
                        <label>Thông tin mô tả *</label>
                        <input readonly name="describe" [value]="assetSelect.describe" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>Ngày bắt đầu khấu hao *</label>
                        <input readonly name="DateAdded" [value]="assetSelect.dateAdded" class="form-control"
                            type="text">
                    </div>
                    <div class="form-group">
                        <label>Số tháng khấu hao *</label>
                        <input readonly name="monthOfDepreciation" [value]="assetSelect.monthOfDepreciation"
                            class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>Ngày kết thúc khấu hao *</label>
                        <input readonly class="form-control" [value]="endOfLiquidation" type="text">
                    </div>
                    <div class="form-group">
                        <label>Nguyên giá tài sản *</label>
                        <input readonly name="originalPrice" [value]="assetSelect.originalPrice" class="form-control"
                            type="text">
                    </div>
                    <div class="form-group">
                        <label>Giá trị khấu hao *</label>
                        <input readonly name="depreciationValue" [value]="assetSelect.depreciationValue"
                            class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>Đơn vị sử dụng *</label>
                        <select *ngIf="!useasset.id" #nameInput="ngModel" required [(ngModel)]='useasset.unitsUsedId'
                            class='form-control' name="UnitID" (change)="getOrgannizationUnitUser($event.target.value)">
                            <option *ngFor="let item of listOrganizationUnit" [value]="item.id">
                                {{item.code}} - {{item.displayName}}
                            </option>
                        </select>
                        <input *ngIf="useasset.id" readonly name="AssetID" [value]="useasset.assetId"
                            class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>Người sử dụng *</label>
                        <select *ngIf="!useasset.id" #nameInput="ngModel" required [(ngModel)]='useasset.userId'
                            class='form-control' name="AssetID">
                            <option *ngFor="let item of customersByOrganization" [value]="item.id">
                                {{item.name}}
                            </option>
                        </select>
                        <input *ngIf="useasset.id" readonly name="userId" [value]="useasset.userId" class="form-control"
                            type="text">
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default"
                        (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary" [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

    <assetLookupModal #assetLookup [assetStatusFilter]="0" (modalSave)="modalSaved($event)"></assetLookupModal>
</div>