footer-bar {
  z-index: 100 !important;
}
app-root {
  display: flex;
  flex: 1;
  flex-direction: column;
}
app-root > ng-component {
  display: flex;
  flex: 1;
  flex-direction: column;
}
label{
  display: inline-block;
  font-weight: bold;
  width: 100px;
}
.not-block{
  display: unset;
}
p{
  display: inline-block;
}