<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #editForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="nhomtaisan.id">Cập nhật nhóm tài sản: {{nhomtaisan.tenNhomTS}}</span>
                        <span *ngIf="!nhomtaisan.id">Tạo mới nhóm tài sản</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- <div class="form-group">
                        <label>Mã nhóm tài sản *</label>
                        <input #nameInput="ngModel" class="form-control" type="text" name="MaNhomTS"
                            [(ngModel)]="nhomtaisan.maNhomTS" required maxlength="64">
                        <validation-messages [formCtrl]="maNhomTSInput"></validation-messages>
                    </div> -->
                    <div class="form-group">
                        <label>Tên nhóm tài sản *</label>
                        <input #nameInput="ngModel" class="form-control" type="text" name="TenNhomTS"
                            [(ngModel)]="nhomtaisan.tenNhomTS" required maxlength="64">
                        <validation-messages [formCtrl]="tenNhomTSInput"></validation-messages>
                    </div>
                    <div class="form-group">
                        <label>Loại tài sản *</label>
                        <input #addressInput="ngModel" class="form-control" type="text" name="LoaiTS"
                            [(ngModel)]="nhomtaisan.loaiTS" required maxlength="64">
                        <validation-messages [formCtrl]="loaiTSInput"></validation-messages>
                    </div>
                    <div class="form-group">
                        <label>Số tháng khấu hao *</label>
                        <input #nameInput="ngModel" class="form-control" type="text" name="SoThangKhauHao"
                            [(ngModel)]="nhomtaisan.soThangKhauHao" required maxlength="64">
                        <validation-messages [formCtrl]="soThangKhauHaoInput"></validation-messages>
                    </div>
                    <div class="form-group">
                        <label>Tỉ lệ khấu hao *</label>
                        <input #addressInput="ngModel" class="form-control" type="text" name="TyLeKhauHaoInput"
                            [(ngModel)]="nhomtaisan.tyLeKhauHao" required maxlength="64">
                        <validation-messages [formCtrl]="tyLeKhauHaoInput"></validation-messages>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default"
                        (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary" [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>