<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #editForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="taiSanCoDinhInput.id">Cập nhật tài sản cố định: {{taiSanCoDinhInput.id}}</span>
                        <span *ngIf="!taiSanCoDinhInput.id">Tạo mới tài sản cố định</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label>Loại tài sản {{taiSanCoDinhInput.loaiTaiSanId}} *</label>
                        <select class="custom-select" [(ngModel)]="taiSanCoDinhInput.loaiTaiSanId" name="loaiTaiSanId">
                            <option value="{{item.id}}" *ngFor="let item of loaiTaiSans">{{item.tenNhomTaiSan}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Hóa đơn nhập {{taiSanCoDinhInput.hoaDonNhapId}} *</label>
                        <select class="custom-select" [(ngModel)]="taiSanCoDinhInput.hoaDonNhapId" name="hoaDonNhapId">
                            <option value="{{item.hoaDonNhap.id}}" *ngFor="let item of hoaDonNhaps">{{item.hoaDonNhap.soHoaDon}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Tên tài sản *</label>
                        <input #tenTaiSanInput="ngModel" class="form-control" type="text" name="TenTaiSan"
                            [(ngModel)]="taiSanCoDinhInput.tenTaiSan" required maxlength="64">
                        <validation-messages [formCtrl]="tenTaiSanInput"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label>Mô tả *</label>
                        <input #moTaInput="ngModel" class="form-control" type="text" name="MoTa"
                            [(ngModel)]="taiSanCoDinhInput.moTa" required maxlength="64">
                        <validation-messages [formCtrl]="moTaInput"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label>Tình trạng *</label>
                        <label style="margin-bottom: 0; margin-left: 20px; display: flex; align-items: center;">
                            Còn mới:
                            <input #tinhTrangInput="ngModel" class="form-control" type="checkbox" name="TinhTrang"
                            [(ngModel)]="taiSanCoDinhInput.tinhTrang" required style="width: 25px;">
                        </label>
                    </div>

                    <div class="form-group">
                        <label>Giá trị tài sản *</label>
                        <div class="input-group">
                            <input #giaTriTSInput="ngModel" [(ngModel)]="taiSanCoDinhInput.giaTriTaiSan" name="GiaTriTaiSan" type="number" class="form-control" required>
                            <div class="input-group-append">
                                <span class="input-group-text">VNĐ</span>
                            </div>
                        </div>
                        <validation-messages [formCtrl]="giaTriTSInput"></validation-messages>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default"
                        (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary" [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>