<div [@routerTransition]>

    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-xs-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("Đơn vị cung cấp tài sản")}}</span>
                </h3>
                <span class="m-section__sub">
                    {{l("Thông tin")}}
                </span>
            </div>
            <div class="col-xs-6 text-right">
                <button (click)="createTaiSanCoDinh()" *ngIf="isGranted('Pages.Administration.TaiSanCoDinh.Create')"
                    class="btn btn-primary"><i class="fa fa-plus"></i> {{l("Tạo mới Đơn vị cung cấp tài sản")}}</button>
            </div>
        </div>
    </div>

    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <form autocomplete="off">
                    <div class="m-form m-form--label-align-right" id="TextsFilterForm">
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <input [(ngModel)]="tenTaiSanFilter" name="tenTaiSanFilter" autoFocus class="form-control"
                                        placeholder="Tìm kiếm theo tên tài sản" type="text">
                                    <span class="input-group-btn">
                                        <button (click)="applyFilters()" class="btn btn-primary" type="submit"><i
                                                class="icon-refresh"></i>
                                            {{l("Search")}}</button> <!-- (?) Chỗ này nó translate thành tiếng Việt -->
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row align-items-center">
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable (onLazyLoad)="getTaiSanCoDinhs($event)" [value]="primengTableHelper.records"
                            rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true"
                            [responsive]="primengTableHelper.isResponsive">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="taiSanCoDinh.id">
                                        Mã tài sản
                                        <p-sortIcon field="taiSanCoDinh.id"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="taiSanCoDinh.loaiTaiSanId">
                                        <!-- (?) Tại sao có Id lại ko dc -->
                                        Loại tài sản
                                        <p-sortIcon field="taiSanCoDinh.loaiTaiSanId"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="taiSanCoDinh.tenTaiSan">
                                        Tên tài sản
                                        <p-sortIcon field="taiSanCoDinh.tenTaiSan"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="taiSanCoDinh.moTa">
                                        Mô tả
                                        <p-sortIcon field="taiSanCoDinh.moTa"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="taiSanCoDinh.tinhTrang">
                                        Tình trạng
                                        <p-sortIcon field="taiSanCoDinh.tinhTrang"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="taiSanCoDinh.giaTriTaiSan">
                                        Giá trị tài sản
                                        <p-sortIcon field="taiSanCoDinh.giaTriTaiSan"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="taiSanCoDinh.haoMonTaiSan">
                                        Hao mòn tài sản
                                        <p-sortIcon field="taiSanCoDinh.haoMonTaiSan"></p-sortIcon>
                                    </th>
                                    <th>{{l('Thao tác')}}</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td>
                                        <span class="ui-column-title">Mã tài sản</span>
                                        <span
                                            title="{{record.taiSanCoDinh.id}}">{{truncateString(record.taiSanCoDinh.id)}}</span>
                                    </td>
                                    <td>
                                        <span class="ui-column-title">Loại tài sản</span>
                                        <span
                                            title="{{record.tenLoaiTaiSan}}">{{truncateString(record.tenLoaiTaiSan)}}</span>
                                    </td>
                                    <td>
                                        <span class="ui-column-title">Tên tài sản</span>
                                        <span
                                            title="{{record.taiSanCoDinh.tenTaiSan}}">{{truncateString(record.taiSanCoDinh.tenTaiSan)}}</span>
                                    </td>
                                    <td>
                                        <span class="ui-column-title">Mô tả</span>
                                        <span
                                            title="{{record.taiSanCoDinh.moTa}}">{{truncateString(record.taiSanCoDinh.moTa)}}</span>
                                    </td>
                                    <td>
                                        <span class="ui-column-title">Tình trạng</span>
                                        <span title="{{record.taiSanCoDinh.tinhTrang}}">
                                            <span *ngIf="record.taiSanCoDinh.tinhTrang === true">Còn mới</span>
                                            <span *ngIf="record.taiSanCoDinh.tinhTrang === false">Đã hỏng</span>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="ui-column-title">Giá trị tài sản</span>
                                        <span
                                            title="{{record.taiSanCoDinh.giaTriTaiSan}}">{{record.taiSanCoDinh.giaTriTaiSan.toLocaleString()}}
                                            VNĐ</span>
                                    </td>
                                    <td>
                                        <span class="ui-column-title">Hao mòn tài sản</span>
                                        <span
                                            title="{{record.taiSanCoDinh.haoMonTaiSan}}">{{record.taiSanCoDinh.haoMonTaiSan.toLocaleString()}}
                                            VNĐ</span>
                                    </td>


                                    <td>
                                        <button
                                            class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                                            (click)="createOrEditModal.show(record.taiSanCoDinh.id)"
                                            title="{{l('Edit')}}">
                                            <i class="fa fa-edit" [attr.aria-label]="l('Edit')"></i>
                                        </button>

                                        <button
                                            class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                                            (click)="deleteTaiSanCoDinh(record.taiSanCoDinh.id)" title="{{l('Delete')}}">
                                            <i class="fa fa-times" [attr.aria-label]="l('Delete')"></i>
                                        </button>

                                        <button
                                            class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                                            (click)="viewTaiSanCoDinhModal.show(record.taiSanCoDinh.id)"
                                            title="{{l('View')}}">
                                            <i class="fa fa-eye" [attr.aria-label]="l('View')"></i>
                                        </button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
                                (onPageChange)="getTaiSanCoDinhs($event)"
                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-TurboTable-End>-->
                </div>
            </div>
        </div>
    </div>

    <!-- <createOrEditHoaDonNhapModal #createOrEditModal (modalSave)="reloadPage()" [donViCungCapTaiSans]="donViCungCapTaiSans"></createOrEditHoaDonNhapModal>
  <viewHoaDonNhapModal #viewHoaDonNhapModal></viewHoaDonNhapModal> -->
  <viewTaiSanCoDinhModal #viewTaiSanCoDinhModal></viewTaiSanCoDinhModal>
  <createOrEditTaiSanCoDinhModal #createOrEditModal (modalSave)="reloadPage()" [loaiTaiSans]="loaiTaiSans" [hoaDonNhaps]="hoaDonNhaps"></createOrEditTaiSanCoDinhModal>
</div>