<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="font-family: 'Times New Roman', Times, serif; font-size: 16px">
            <form #editForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header" style=" background-color: #00C5DC">
                    <h4 class="modal-title text-center w-100"
                        style="color: #ffffff; font-size: 30; text-transform: uppercase ; font-weight: 100">
                        <span *ngIf="phiDuongBo.id">Cập nhật phí đường bộ: {{phiDuongBo.soXe}}</span>
                        <span *ngIf="!phiDuongBo.id">Tạo mới phí đường bộ</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-6">
                            <div class="form-group">
                                <label>Số Xe </label>
                                <input #soxeInput="ngModel" class="form-control" type="text" name="soXe"
                                    [disabled]="true" [(ngModel)]="thongtinxe.soXe " required maxlength="64">
                                <validation-messages [formCtrl]="soxeInput"></validation-messages>
                            </div>
                            <div class="form-group">
                                <label>Loại xe </label>
                                <input #loaixeInput="ngModel" class="form-control" type="text" name="loaiXe"
                                    [disabled]="true" [(ngModel)]="model.loaiXe " required maxlength="64">
                                <validation-messages [formCtrl]="loaixeInput"></validation-messages>
                            </div>
                            <div class="form-group">
                                <label>Model </label>
                                <input #modelInput="ngModel" class="form-control" type="text" name="model"
                                    [disabled]="true" [(ngModel)]="thongtinxe.model" required maxlength="64">
                                <validation-messages [formCtrl]="modelInput"></validation-messages>
                            </div>
                            <div class="form-group">
                                <label>Nước sản xuất </label>
                                <input #nuocsanxuatInput="ngModel" class="form-control" type="text" name="nuocSanXuat"
                                    [disabled]="true" [(ngModel)]="thongtinxe.nuocSanXuat" required maxlength="64">
                                <validation-messages [formCtrl]="nuocsanxuatInput"></validation-messages>
                            </div>
                            <div class="form-group">
                                <label>Loại nhiên liệu </label>
                                <input #loaiNhienLieuInput="ngModel" class="form-control" type="text"
                                    name="loaiNhienLieu" [disabled]="true" [(ngModel)]="thongtinxe.loaiNhienLieu"
                                    required maxlength="64">
                                <validation-messages [formCtrl]="loaiNhienLieuInput"></validation-messages>
                            </div>
                            <div class="form-group">
                                <label>Đơn vị sử dụng </label>
                                <input #donViSuDungInput="ngModel" class="form-control" type="text" name="donViSuDung"
                                    [disabled]="true" [(ngModel)]="thongtinxe.donViSuDung" required maxlength="64">
                                <validation-messages [formCtrl]="donViSuDungInput"></validation-messages>
                            </div>
                            <div class="form-group">
                                <label>Ghi chú </label>
                                <input #ghiChuInput="ngModel" class="form-control" type="text" name="ghiChu"
                                    class="form-control" [(ngModel)]="phiDuongBo.ghiChu" required maxlength="64">
                                <validation-messages [formCtrl]="ghiChuInput"></validation-messages>
                            </div>
                        </div>
                        <div class="col-6">
                            <div>
                                <p>Ngày cập nhật: </p>
                                <p-calendar [(ngModel)]="ngayCapNhap" required [showIcon]="true" maxLength="64"
                                    [disabled]="true" name="ngayCapNhat" class="form-group">
                                </p-calendar>

                            </div>
                            <div>
                                <p>Ngày đóng phí:</p>
                                <p-calendar [(ngModel)]="ngayDongPhi" required maxLength="64" class="form-group"
                                    [showIcon]="true" name="ngayDongPhi">
                                </p-calendar>
                            </div>
                            <div>
                                <p>Ngày hết hạn đóng phí:</p>
                                <p-calendar [(ngModel)]="ngayHetHan" class="form-group" required maxLength="64"
                                    [showIcon]="true" name="ngayHetHanDongPhi">
                                </p-calendar>

                            </div>
                            <div class="form-group">
                                <label>Thời gian sử dụng (năm):</label>
                                <input #thoiGianSuDungInput="ngModel" type="number" name="thoiGianSuDung"
                                    class="form-control" [(ngModel)]="phiDuongBo.thoiGianSuDung" required
                                    maxlength="64">

                                <validation-messages [formCtrl]="thoiGianSuDungInput"></validation-messages>
                            </div>
                            <div class="form-group">
                                <label>Số tiền phải thanh toán </label>
                                <input #soTienThanhToanInput="ngModel" type="number" name="soTienThanhToan"
                                    class="form-control" [(ngModel)]="phiDuongBo.soTienThanhToan" required
                                    maxlength="64">
                                <validation-messages [formCtrl]="soTienThanhToanInput"></validation-messages>
                            </div>
                            <div class="form-group">
                                <label>Công ty thu phí </label>
                                <input #congTyThuPhiInput="ngModel" type="text" name="congTyThuPhi" class="form-control"
                                    [(ngModel)]="phiDuongBo.congTyThuPhi" required maxlength="64">
                                <validation-messages [formCtrl]="congTyThuPhiInput"></validation-messages>
                            </div>
                            <div class="form-group">
                                <label>Loại phí </label>
                                <input #loaiPhiInput="ngModel" type="text" name="loaiPhi"
                                    [(ngModel)]="phiDuongBo.loaiPhi" class="form-control" required maxlength="64">
                                <validation-messages [formCtrl]="loaiPhiInput"></validation-messages>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{l("Cancel")}}
                    </button>
                    <button type="submit" class="btn btn-info" [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>