<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #editForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="dieuChuyen.id">Cập nhật điều chuyển: {{dieuChuyen.tenDVDuocDieuChuyen}}</span>
                        <span *ngIf="!dieuChuyen.id">Tạo mới điều chuyển</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Tên đv điều chuyển *</label>
                        <input #tenDVDieuChuyenInput="ngModel" class="form-control" type="text" name="tenDVDieuChuyen"
                               [(ngModel)]="dieuChuyen.tenDVDieuChuyen" required maxlength="64">
                        <validation-messages [formCtrl]="tenDVDieuChuyenInput"></validation-messages>
                    </div>
                    <div class="form-group">
                        <label>Số lượng *</label>
                        <input #soLuongInput="ngModel" class="form-control" type="text" name="soLuong"
                               [(ngModel)]="dieuChuyen.soLuong" required maxlength="64">
                        <validation-messages [formCtrl]="soLuongInput"></validation-messages>
                    </div>
                    <div class="form-group">
                        <label>Mã tài sản *</label>
                        <input #maTaiSanInput="ngModel" class="form-control" type="text" name="maTaiSan"
                               [(ngModel)]="dieuChuyen.maTaiSan" required maxlength="64">
                        <validation-messages [formCtrl]="maTaiSanInput"></validation-messages>
                    </div>
                    <div class="form-group">
                        <label>Ngày điều chuyển *</label>
                        <input #ngayDieuChuyenInput="ngModel" class="form-control" type="text" name="ngayDieuChuyen"
                               [(ngModel)]="dieuChuyen.ngayDieuChuyen" required maxlength="64">
                        <validation-messages [formCtrl]="ngayDieuChuyenInput"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label>Tên đv được điều chuyển *</label>
                        <input #tenDVDuocDieuChuyenInput="ngModel" class="form-control" type="text" name="tenDVDuocDieuChuyen"
                               [(ngModel)]="dieuChuyen.tenDVDuocDieuChuyen" required maxlength="64">
                        <validation-messages [formCtrl]="tenDVDuocDieuChuyenInput"></validation-messages>
                    </div>                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default"
                        (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary" [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>
