<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #editForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="xuatsudung.id">Cập nhật xuất sử dụng: {{xuatsudung.name}}</span>
                        <span *ngIf="!xuatsudung.id">Tạo mới xuất sử dụng</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Ngày xuất *</label>
                        <input #nameInput="ngModel" class="form-control" type="text" name="Name"
                            [(ngModel)]="xuatsudung.ngayXuat" required maxlength="64">
                        <validation-messages [formCtrl]="ngayXuatInput"></validation-messages>
                    </div>
                    <div class="form-group">
                        <label>Tên tài sản *</label>
                        <input #addressInput="ngModel" class="form-control" type="text" name="Address"
                            [(ngModel)]="xuatsudung.tenTS" required maxlength="64">
                        <validation-messages [formCtrl]="tenTSInput"></validation-messages>
                    </div>
                    <div class="form-group">
                        <label>Đơn vị sử dụng *</label>
                        <input #addressInput="ngModel" class="form-control" type="text" name="Info"
                            [(ngModel)]="xuatsudung.dVSuDung" required maxlength="64">
                        <validation-messages [formCtrl]="dVSuDungInput"></validation-messages>
                    </div>
                    <div class="form-group">
                        <label>Người sử dụng *</label>
                        <input #nameInput="ngModel" class="form-control" type="text" name="Name"
                            [(ngModel)]="xuatsudung.nguoiSuDung" required maxlength="64">
                        <validation-messages [formCtrl]="nguoiSuDungInput"></validation-messages>
                    </div>
                    <div class="form-group">
                        <label>Trạng thái *</label>
                        <input #addressInput="ngModel" class="form-control" type="text" name="Address"
                            [(ngModel)]="xuatsudung.trangThai" required maxlength="64">
                        <validation-messages [formCtrl]="trangThaiInput"></validation-messages>
                    </div>
                    <div class="form-group">
                        <label>Số lượng *</label>
                        <input #addressInput="ngModel" class="form-control" type="text" name="Info"
                            [(ngModel)]="xuatsudung.soLuong" required maxlength="64">
                        <validation-messages [formCtrl]="soLuongInput"></validation-messages>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default"
                        (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary" [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>