<div [@routerTransition]>

    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-xs-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("BidProfile")}}</span>
                </h3>
                <span class="m-section__sub">
                    {{l("BidProfileInfo")}}
                </span>
            </div>
            <div class="col-xs-6 text-right">
                <button (click)="createBidProfile()" *ngIf="isGranted('Pages.Administration.MenuClient.Create')"
                    class="btn btn-primary"><i class="fa fa-plus"></i> {{l("CreateNewBidProfile")}}</button>
            </div>
        </div>
    </div>

    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <form autocomplete="off" (ngSubmit)="getBidProfiles(paginator)">
                    <div class="m-form m-form--label-align-right" id="TextsFilterForm">
                        <!-- filter -->
                        <div class="row m--margin-bottom-10">
                            <div class="col-sm-6">
                                <div class="row align-items-center m-b-5">
                                    <div class="col-4 col-sm-4">
                                        <span class="float-right">BidProfile Code:</span>
                                    </div>
                                    <div class="col-8 col-sm-8 col-lg-8">
                                        <input type="text" name="bidProfile code" [(ngModel)]="bidProfileCodeFilter"
                                            [placeholder]="'BidProfile Code'" class="form-control">
                                    </div>
                                </div>
                                <div class="row align-items-center m-b-5">
                                    <div class="col-4 col-sm-4">
                                        <span class="float-right">BidProfile Catalog:</span>
                                    </div>
                                    <div class="col-8 col-sm-8 col-lg-8">
                                        <!-- <input type="text" name="bidProfileCatalog" [(ngModel)]="bidCatalogFilterId"
                                            [placeholder]="'BidProfile Catalog'" class="form-control"> -->
                                        <!-- <select #productSelect name="bidProfileCatalog" class="form-control" [(ngModel)]="bidCatalogFilterId"
                                            [attr.data-live-search]="true" jq-plugin="selectpicker" required>
                                            <option value=""></option>
                                            <option *ngFor="let item of productInfos" [value]="item.id">
                                                {{item.info}}</option>
                                        </select> -->

                                        <p-dropdown [options]="productInfos" [(ngModel)]="bidCatalogFilterId" placeholder="Select Item" [style]="{'width':'100%'}"  [ngModelOptions]="{standalone: true}" [filter]="false"></p-dropdown>
                                    </div>
                                </div>
                              
                                <div class="row align-items-center m-b-5">
                                    <div class="col-4 col-sm-4">
                                        <span class="float-right">Bid Type:</span>
                                    </div>
                                    <div class="col-8 col-sm-8 col-lg-8">
                                        <select #statusSelect name="bidType" class="form-control" [(ngModel)]="bidType"
                                            [attr.data-live-search]="true" jq-plugin="selectpicker" required>
                                            <option *ngFor="let item of bidTypes" [value]="item.id">
                                                {{item.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row align-items-center m-b-5">
                                    <div class="col-4 col-sm-4">
                                        <span class="float-right">Status:</span>
                                    </div>
                                    <div class="col-8 col-sm-8 col-lg-8">
                                        <select #statusSelect name="status" class="form-control" [(ngModel)]="approvalStatus"
                                            [attr.data-live-search]="true" jq-plugin="selectpicker" required>
                                            <option *ngFor="let item of ApprovalStatusList" [value]="item.id">
                                                {{item.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-4 col-sm-4">
                                        <span class="float-right">StartReceivedDate:</span>
                                    </div>
                                    <div class="col-8 col-sm-8 col-lg-8">
                                        <my-date-picker class="flex" name="startDate" [placeholder]="'  Select A Start Date'"
                                            [options]="createStartDatePickerOptions" (dateChanged)="onDateChangedByStart($event)">
                                        </my-date-picker>
                                    </div>
                                </div>
                                <div class="row align-items-center m-b-5">
                                    <div class="col-4 col-sm-4">
                                        <span class="float-right">EndReceivedDate:</span>
                                    </div>
                                    <div class="col-8 col-sm-8 col-lg-8">
                                        <my-date-picker class="flex" name="endDate" [placeholder]="'  Select A End Date'"
                                            [options]="createEndDatePickerOptions" (dateChanged)="onDateChangedByEnd($event)">
                                        </my-date-picker>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- search -->
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-sm-12 text-center">
                                <button class="btn btn-primary" type="submit"><i class="icon-refresh"></i>
                                    {{l("Search")}}</button>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-TurboTable-Start>-->
                    <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                        <perfect-scrollbar [config]="{suppressScrollX: false}" (psScrollX)="onScrollX($event)">
                            <p-table #dataTable (onLazyLoad)="getBidProfilesInit($event)" [value]="primengTableHelper.records"
                                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                [lazy]="true" [responsive]="primengTableHelper.isResponsive">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="ordinalNumber" style="width: 90px; text-align: center">
                                            {{l('Number')}}
                                        </th>
                                        <th pSortableColumn="code" style="width: 150px; text-align: center">
                                            {{l('Code')}}
                                            <p-sortIcon field="code"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="name" style="width: 150px; text-align: center">
                                            {{l('Name')}}
                                            <p-sortIcon field="name"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="bidCatalog" style="width: 150px; text-align: center">
                                            {{l('Bid Catalog')}}
                                            <p-sortIcon field="bidCatalog"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="startReceivedDate" style="width: 150px; text-align: center">
                                            {{l('Start Received Date')}}
                                            <p-sortIcon field="startReceivedDate"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="endReceivedDate" style="width: 150px; text-align: center">
                                            {{l('End Received Date')}}
                                            <p-sortIcon field="endReceivedDate"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="bidType" style="width: 150px; text-align: center">
                                            {{l('Bid Type')}}
                                            <p-sortIcon field="bidType"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="projectCode" style="width: 150px; text-align: center">
                                            {{l('Project Code')}}
                                            <p-sortIcon field="projectCode"></p-sortIcon>
                                        </th>
                                        <th *ngIf="isPermissionEditCloseActive"
                                            style="width: 180px; text-align: center">
                                            {{l('Action')}}</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit" let-index="rowIndex">
                                    <tr class="table-row text-center">
                                        <td style="width: 90px">
                                            <span class="ui-column-title">{{l('Number')}}</span>
                                            <span title="{{record.ordinalNumber}}">{{truncateString(index + 1)}}</span>
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title">{{l('Code')}}</span>
                                            <span title="{{record.code}}">{{truncateString(record.code)}}</span>
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title">{{l('Name')}}</span>
                                            <span *ngIf="!record.isEdit"
                                                title="{{record.name}}">{{ record.name }}</span>
                                            <input *ngIf="record.isEdit" type="text" name="recordName"
                                                [(ngModel)]="record.name" class="form-control">
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title">{{l('Bid Catalog')}}</span>
                                            <span *ngIf="!record.isEdit"
                                                title="{{record.bidCatalog}}">{{truncateString(record.bidCatalog)}}</span>
                                            <div *ngIf="record.isEdit">
                                                <p-dropdown [options]="productInfos" [(ngModel)]="bidCatalogEditId" placeholder="Select Item" [style]="{'width':'100%'}"  [ngModelOptions]="{standalone: true}" [filter]="false"></p-dropdown>

                                            </div>
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title">{{l('Start Received Date')}}</span>
                                            <span title="{{record.startReceivedDate}}">{{truncateString(record.startReceivedDate)}}</span>
                                            <!-- <div *ngIf="record.isEdit">
                                                <my-date-picker class="flex" name="startDate" [placeholder]="'  Select A Start Date'"
                                                    [options]="editStartDatePickerOptions" (dateChanged)="onDateChangedByEditStart($event)">
                                                </my-date-picker>
                                            </div> -->
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title">{{l('End Received Date')}}</span>
                                            <span 
                                                title="{{record.endReceivedDate}}">{{truncateString(record.endReceivedDate)}}</span>
                                            <!-- <div *ngIf="record.isEdit">
                                                <my-date-picker class="flex" name="startDate" [placeholder]="'  Select A Start Date'"
                                                    [options]="editStartDatePickerOptions" (dateChanged)="onDateChangedByEditEnd($event)">
                                                </my-date-picker>
                                            </div> -->
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title">{{l('Bid Type')}}</span>
                                            <span
                                                title="{{record.bidType}}">{{ record.bidType === bidTypeEnum.Bidding ? 'Bidding' : 'Appoint Contractors' }}</span>
                                        </td>
                                        <td style="width: 150px">
                                            <span class="ui-column-title">{{l('Project Code')}}</span>
                                            <span
                                                title="{{record.projectCode}}">{{ record.projectId }}</span>
                                        </td>
                                        <td  style="width: 180px">
                                            <div *ngIf="compareOrganizationUnit(record.organizationUnit.code)">
                                            <button *ngIf="!record.isEdit" class="btn btn-primary"
                                                (click)="actionEdit(record, $event)">Edit
                                            </button>
                                            <button *ngIf="record.isEdit"
                                                [disabled]="!record.name || record.name === ''" class="btn btn-success"
                                                (click)="saveEditItem(record.id, record, $event)">Save
                                            </button>
                                            <button *ngIf="record.isEdit" class="btn btn-danger"
                                                (click)="cancelEdit(record, $event)">Cancel
                                            </button>
                                            <!-- <button *ngIf="record.status === statusEnum.Close && !record.isEdit"
                                                class="btn btn-success" (click)="actionPCItem(record.id, record)"
                                                title="Open this bidProfile">Open
                                            </button>
                                            <button *ngIf="record.status === statusEnum.Open && !record.isEdit"
                                                class="btn btn-warning" (click)="actionPCItem(record.id, record)"
                                                title="Close this bidProfile">
                                                Close
                                            </button> -->
                                            <button *ngIf="!record.isEdit" class="btn btn-danger"
                                                [disabled]="record.isIncludeBidProfile" type="button"
                                                (click)="removePcItem(record.id, record, index)"
                                                title="{{record.isIncludeBidProfile ? 'Cannot remove bidProfile exist reference': 'Delete this'}}">
                                                Remove</button>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </perfect-scrollbar>
                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}" #paginator
                                (onPageChange)="getBidProfilesInit($event)"
                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-TurboTable-End>-->
                </div>
            </div>
        </div>
    </div>
    <createOrEditBidProfileModal #createOrEditModal (modalSave)="refreshValueFromModal()"></createOrEditBidProfileModal>
</div>