<div bsModal #viewModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-bledby="viewModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Xem Thanh lý: {{liquidation.assetID}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" [attr.aria-b]="l('Close')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <b>Ngày thanh lý: </b>
                    <span>{{liquidation.liquidationDate}}</span>
                </div>
                <div class="form-group">
                    <b>Mã tài sản: </b>
                    <span>{{liquidation.assetID}}</span>
                </div>
                <div class="form-group">
                    <b>Tên tài sản: </b>
                    <span>{{asset.assetName}}</span>
                </div>
                <div class="form-group">
                    <b>Loại tài sản: </b>
                    <span *ngIf="asset.assetType == 0">Công cụ lao động</span>
                    <span *ngIf="asset.assetType == 1">Tài sản cố định</span>
                </div>
                <div class="form-group">
                    <b>Nhóm tài sản: </b>
                    <span>{{assetGroup.assetGroupName}}</span>
                </div>
                <div class="form-group">
                    <b>Thông tin mô tả: </b>
                    <span>{{asset.describe}}</span>
                </div>
                <div class="form-group">
                    <b>Ngày bắt đầu khấu hao: </b>
                    <span>{{asset.dateAdded}}</span>
                </div>
                <div class="form-group">
                    <b>Số tháng khấu hao: </b>
                    <span>{{asset.monthOfDepreciation}}</span>
                </div>
                <div class="form-group">
                    <b>Ngày kết thúc khấu hao: </b>
                    <span>{{dateEndDepreciation}}</span>
                </div>
                <div class="form-group">
                    <b>Nguyên giá tài sản: </b>
                    <span>{{asset.originalPrice}}</span>
                </div>
                <!-- <div class="form-group">
                    <b>Giá trị khấu hao: </b>
                    <span></span>
                </div>
                <div class="form-group">
                    <b>Giá trị khấu hao còn lại: </b>
                    <span></span>
                </div> -->
                <!-- <div class="form-group">
                    <b>Tình trạng khấu hao: </b>
                    <span></span>
                </div>
                <div class="form-group">
                    <b>Vị trí tài sản: </b>
                    <span></span>
                </div> -->
                <div class="form-group">
                    <b>Đơn vị mua tài sản thanh lý: </b>
                    <span *ngIf="liquidation.purchaseUnit == 0">Đơn vị mua tài sản 1</span>
                    <span *ngIf="liquidation.purchaseUnit == 1">Đơn vị mua tài sản 2</span>
                    <span *ngIf="liquidation.purchaseUnit == 2">Đơn vị mua tài sản 3</span>
                    <span *ngIf="liquidation.purchaseUnit == 3">Đơn vị mua tài sản 4</span>
                </div>
                <div class="form-group">
                    <b>Hình thức thanh lý: </b>
                    <span *ngIf="!liquidation.liquidationForm">Một phần</span>
                    <span *ngIf="liquidation.liquidationForm">Toàn phần</span>
                </div>
                <div class="form-group">
                    <b>Số tiền thanh lý: </b>
                    <span>{{liquidation.liquidationPrice}}</span>
                </div>
                <div class="form-group">
                    <b>Ghi chú: </b>
                    <span>{{liquidation.note}}</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="close()">
                    {{l("Đóng")}}</button>
            </div>
        </div>
    </div>
</div>