<div bsModal #viewModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="viewModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span *ngIf="bangYeuCauCungCapTaiSan.id">{{l("Thông tin Bảng Yêu Cầu Cung Cấp Tài Sản")}}: {{bangYeuCauCungCapTaiSan.id}}</span>
                    <span *ngIf="!bangYeuCauCungCapTaiSan.id">{{l("CreateNewBangYeuCauCungCapTaiSan")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Tên Phòng</label>
                    <p>{{tenPhong}}</p>
                </div>
                <div class="form-group">
                    <label>Số lượng</label>
                    <p>{{bangYeuCauCungCapTaiSan.soLuong}}</p>
                </div>
                <div class="form-group">
                    <label>Ngày yêu cầu</label>
                    <p *ngIf="bangYeuCauCungCapTaiSan.ngayYeuCau">{{bangYeuCauCungCapTaiSan.ngayYeuCau.format('DD/MM/YYYY')}}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                    (click)="close()">{{l("Cancel")}}</button>
                <button type="submit" class="btn btn-primary">
                  <i class="fa fa-save"></i>
                  <span>{{l("Save")}}</span>
                </button>
            </div>
        </div>
    </div>
</div>